@{
    ViewData["Title"] = "Account";
    Layout = "_Layout"; // No layout for this view
}


@* Account page *@

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="~/images/base.png"/>
            </div>

            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span id="loginTab">Login</span>
                        <span id="regTab">Register</span>
                        <hr id="indicator"/>
                    </div>
                    <div id="loginFormContainer">
                        <form id="loginForm">
                            <label for="loginUsername">Username</label>
                            <input type="text" id="loginUsername" name="loginUsername" />
                            <label for="loginPassword">Password</label>
                            <input type="password" id="loginPassword" name="loginPassword"  />
                            <button type="submit" class="btn">Login</button>
                            <a href="">Forgot Password</a>
                        </form>
                    </div>
                    

                    <div id="regFormContainer">
                        <form id="regForm">
                            <label for="regUsername">Username</label>
                            <input type="text" id="regUsername" name="regUsername"/>
                            <label for="regEmail">Email</label>
                            <input type="email" id="regEmail" name="regEmail"/>
                            <label for="regPassword">Password</label>
                            <input type="password" id="regPassword" name="regPassword"/>
                            <button type="submit" class="btn">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //Form Validation

    document.addEventListener("DOMContentLoaded", function () {
        const loginTab = document.getElementById("loginTab");
        const regTab = document.getElementById("regTab");
        const loginForm = document.getElementById("loginFormContainer");
        const regForm = document.getElementById("regFormContainer");
        const indicator = document.getElementById("indicator");

        //Default
        loginForm.style.display="block";
        regForm.style.display = "none";

        //click regForm
        regTab.addEventListener("click", () => {
            indicator.style.transform = "translateX(100px)";
            loginForm.style.display = "none";
            regForm.style.display = "block";
        });

        //click loginForm
        loginTab.addEventListener("click", () => {
            indicator.style.transform = "translateX(0px)";
            loginForm.style.display = "block";
            regForm.style.display = "none";
        });

        const switchToLogin = document.getElementById("switchToLogin");
        if (switchToLogin) {
            switchToLogin.addEventListener("click", () => {
                indicator.style.transform = "translateX(0px)";
                regForm.classList.add("hide");
                loginForm.classList.remove("hide");
            });
        }

    })

    document.getElementById('loginForm').addEventListener('submit', function (event) {
        event.preventDefault(); //Prevent default form submission
        const username = document.getElementById('loginUsername').value;
        const password = document.getElementById('loginPassword');

        if (username == "test" && password.value == "password") {
            alert('Login successful');
        } else {
            alert('Invalid username or password');
            password.value = "";
        }
    });


    document.getElementById('regForm').addEventListener('submit', function (event) {
        event.preventDefault();
        const username = document.getElementById('regUsername').value;
        const email = document.getElementById('regEmail').value;
        const password = document.getElementById('regPassword');

        if (username && email && password.value) {
            alert('Registration successfull!');
        } else {
            alert("Please fill all the required fields");
            password.value = "";
        }
    });


</script>


<script src="~/js/site.js"></script>

