@{
ViewData["Title"] = "Products";
Layout = "_Layout"; 
var detailsURLTemplate = Url.Action("Details" , "Products" , new { id = "__id__" });
}


<!--All-Products-->
<div class="small-container">
    <div class="row row-2">
        <h2>All Products</h2>
        <select>
            <option>Default Shopping</option>
            <option>Sort by price</option>
            <option>Sort by popularity</option>
            <option>Sort by rating</option>
            <option>Sort by sale</option>
        </select>
    </div>

    <div id="products-container">
    

        <div class="page-btn">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>&#8594</span>
        </div>

    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/site.js"></script>
<script>
    
    const detailsURLTemplate = "@detailsURLTemplate";
     

    $(document).ready(function () {

        $.getJSON('/Products/GetProducts' , function (products) {

            // console.log("Loaded Products: ", products); Debug

            const $container = $('#products-container');

            for ( let i = 0; i < products.length; i += 4){

                const $row = $('<div class="row"></div>');
                const group =  products.slice(i , i + 4);
                
                $.each(group , function(index , product) {
                    let stars='';
                    for ( let j = 0; j <= 5; j++){
                        stars += `<i class="fa ${ j <= product.rating ? 'fa-star' : 'fa-star-o'}"></i>`;
                    }

                    const detailsURL = detailsURLTemplate.replace("__id__" , product.id);

                    const productHTML = `
                    <div class="col-4 product-item" data-id="${product.id}">
                        <a href="${detailsURL}">
                            <img src = "${product.image}" alt="${product.name}" />
                            <h4> ${ product.name } </h4>
                            <div class = "rating"> ${ stars } </div>
                            <p> ${ product.price }</p>
                            ${ product.link ? `</a>` : ''}
                        <a>
                    </div>
                    `;
                    $row.append(productHTML);
                });

            $container.append($row);
            }
        });

        $('#products-container').on('click' , '.product-items' , function(){
            const id = $(this).data('id');
            window.location.href = '@Url.Action("Details" , "Products" , new { id = "__id__" })'.replace("__id__" , id);
        });

    });

</script>


